*.gem
*.rbc
*.swp
*.tmproj
*~
.DS_Store
.\#*
.bundle
.config
.yardoc
Gemfile.lock
\#*
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
